@import "../../theme/theme.scss";
.food-menu{
  width: 100%;
  color: #191919;
  font-size: 14px;
  .menu{
    display: flex;
    font-size: 13px;
    .menu-left{
      width: 20%;
      padding-left: 10px;
      background: #f2f2f2;
      color: #666;
      li{
        min-height: 50px;
        display: flex;
        align-items: center;
      }
    }
    .menu-right{
      width: 80%;
      li{
        li{
          display: flex;
          padding: 10px;
          img{
            width: 35%;
            border-radius: 5px;
          }
          .food-info{
            width: 65%;
            text-align: left;
            padding-left: 10px;
          }
        }
      }
    }
  }
}