ion-content {
  ion-header {
    padding-bottom: 15px;
    background: $themeColor;
    ion-button{
      --padding-start: 5px;
      font-size: 14px;
      ion-icon{
        font-size: 20px;
      }
    }
  }
  .search-inner {
    position: relative;
    height: 85px;
    margin-top: -15px;
    .search-area {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      padding: 10px 16px;
      background-color: #fff;
      z-index: 11;
      border-radius: 15px 15px 0 0;
      ion-icon {
        position: absolute;
        left: 24px;
        font-size: 22px;
        top: 16px;
      }
      input {
        width: 100%;
        height: 32px;
        line-height: 30px;
        border: 1px solid $themeColor;
        border-radius: 16px;
        padding-left: 35px;
        color: #999;
        font-size: 12px;
      }
      button {
        position: absolute;
        top: 10px;
        right: 16px;
        height: 32px;
        background-color: #54b5f3;
        color: #fff;
        width: 64px;
        border-radius: 16px;
        line-height: 30px;
      }
      .search-value {
        font-size: 12px;
        margin-top: 10px;
        span {
          display: inline-block;
          padding: 2px 16px;
          margin: 0 3px;
          color: #333;
          background-color: #f2f2f2;
          border-radius: 10px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}