ion-header{
  .inner{
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-top: 10px;
    ion-icon{
      color: #fff;
      font-size: 20px;
    }
    .center{
      display: flex;
      align-items: center;
      flex: 1;
      font-size: 20px;
      font-weight: 500;
      padding-right: 10px;
      ion-input{
        --padding-top: 7px;
        --padding-bottom: 7px;
        --padding-start: 10px;
        --background: #e8f5fe;
        --color: #469cf7;
        font-size: 14px;
        border-radius: 16px;
        margin-left: 5px;
      }
    }
  }
  .classifies{
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    overflow-x: scroll;
    li{
      display: inline-block;
      padding: 10px;
    }
    &::-webkit-scrollbar{
      display: none;
    }
  }
}

ion-content{
  --background: #f5f5f5;
  .screen{
    display: flex;
    padding: 10px 0;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    li{
      flex: 1;
      text-align: center;
      ion-icon{
        font-size: 12px;
        color: #ccc;
        vertical-align: middle;
      }
    }
  }
}